<%- include("partials/header") -%>

<div class="aboutUs-page">
  <div class="aboutUs">
    <h1>About Us</h1>
    <p>ETROS SOLAREON RACING is the official solar racing team of SRM INSTITUTE OF SCIENCE AND TECHNOLOGY, Chennai, Tamil Nadu. Electric Solar Vehicle Championship 2020 will be the third time we are taking part in the particular event. With the goal of designing and fabricating an efficient solar car, we promise to deliver our best in the making of the vehicle. With students from various departments like Mechanical Engineering, Electrical and Electronics Engineering, Automobile Engineering, Mechatronics Engineering, Electronics and Communication Engineering and Computer Science Engineering, we strive to combine our talent and ideas to build a potent solar electric vehicle. With the clear mindset of giving our best, we are looking forward to head to the event with full confidence and an efficient yet commercially viable solar electric vehicle. Through this process, we are aiming to make use of renewable energy sources instead of fossil fuels for the working of a car and understand how it can implemented so that eventually, all the cars running on the road will be revamped to not make use of fossil fuels, to aid in reducing pollution hence, improving the environmental conditions.
    </p>
  </div>
  <div class="our-achivements">
    <h1>Our Achivements</h1>
    <div class="achivements-container">
      <div class="our-achivements-img">
        <img src="/images/car_trofies.jpeg" alt="">
      </div>
      <div class="our-achivements-list">
        <!-- 🥇🥈🥉 -->
        <p><span>2014-15:</span> IASC 🥈, Auto cross 🥈</p>
        <p><span>2016-17:</span> NSVC 🥈 in- innovation,Endurance,B-plan,ESVC best award</p>
        <p>IASC best innovation 🥇, B-Plan cost report 🥈</p>
        <p>SUVC best Innovation 🥇,best endurance 🥇 ,best team 🥇.</p>
      </div>
    </div>
    
  </div>
  <div class="past-cars">

  </div>
</div>

<%- include("partials/footer") -%>
