<%- include("partials/header") -%>



<div class="newInput">
  <h1>Hi there welcome to our team.</h1>
  <form class="newMemberForm" action="/new-member-123" method="post" enctype="multipart/form-data">
    <label for="name" class="new-member-lable">Your Name:</label>
    <input type="text" name="name" value="" placeholder="eg: Jatin Arora"><br>

    <label for="domain" class="new-member-lable">Domain you are working:</label>
    <input type="text" name="domain" value="" placeholder="eg: Electronic"><br>

    <label for="position" class="new-member-lable">Your Position: </label>
    <input type="text" name="postion" value="" placeholder="eg: Member"><br>

    <label for="image" class="new-member-lable">Your photo</label>
    <input type="file" id="image" name="image" value="" required><br>
    
    <input class="btn"type="submit">
  </form>
</div>

<%- include("partials/footer") -%>
